### pandas apply 函数的多输出应用：
当apply函数的输出为多个结果的时候，为了减少程序的操作，直接建立多个新的列放置输出的结果。
* 函数return格式用list
* 建立多个新的column

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(1,25).reshape((6,4)),columns=list('abcd'))
df

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20
5  21  22  23  24

In [3]:
def f(x,y):
    xx = x + y
    yy = x - y
    return [xx,yy]

In [4]:
df[['x','y']] = df[['a','b']].apply(lambda r: f(r.a,r.b),axis=1)

In [6]:
df

    a   b   c   d   x  y
0   1   2   3   4   3 -1
1   5   6   7   8  11 -1
2   9  10  11  12  19 -1
3  13  14  15  16  27 -1
4  17  18  19  20  35 -1
5  21  22  23  24  43 -1